<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Password Modificata</title>
<meta http-equiv=3D"Content-Type" content=3D"text/html; charset=3Dutf-8" />
</head>
<html>
	<body>
	
		<h3>#msgArgs("email.recover.passw.1", [${user.fullName}])</h3>
	
		<h3>#msg("email.password.update.1")</h3>
		
		<h4>
			<p>
				#msg("email.password.update.2") ${applicationURL}
			</p>
		<h4>

		$INCLUDE_FOOTER_EMAIL
		
	</body>
</html>

#macro(msg $key)
$messages.DammiMessageSource($key, $locale)
#end

#macro(msgArgs $key, $args)
$messages.DammiMessageSource($key, $args.toArray(), $locale)
#end