<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>$title $corsaId</title>
<meta http-equiv=3D"Content-Type" content=3D"text/html; charset=3Dutf-8" />
</head>
<body>
	<h2>Gentile $nomeCognome</h2>
	
	<p>La informiamo che la Fattura del <strong>Supplemento Extra Corsa</strong> relativa alla Corsa numero: $corsaId 
		&egrave; stata correttamete saldata </p>
	
	<p>$corsaPartenzaArrivo </p>
	
	<p><b>Prezzo Supplemento:</b> $prezzoSupplemento </p>
	
	<p><b>Descrizione Supplemento:</b> $descrizioneSupplemento </p>
		
	$INCLUDE_FOOTER_EMAIL
			
</body>
</html>
