<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Un Autista ti ha inviato il Preventivo per la Corsa $corsaId</title>
<meta http-equiv=3D"Content-Type" content=3D"text/html; charset=3Dutf-8" />
</head>
<body>

	<h2>Gentile $nomeCognomeCliente,</h2>
	
	<p><big>Un nostro Autista le ha inviato il Preventivo.
	<br>Il Prezzo è già compreso di tutto e il pagamento dovrà essere eseguito online.
	<br>Mano a mano che gli altri Autisti visualizzeranno le tua richiesta riceverai in Tempo Reale via SMS e via Email i loro Preventivi.
	</big></p>
	
	<p>$infoAutistaPreventivoAutista </p>
	
	<p><big>Per Acquistare il Preventivo vai alla pagina $linkPaginaAcquistaPreventivoAutista</big></p>
	
	<p>$corsaPartenzaArrivo </p>
	
	<p>$notePerAutista </p>
	
	<p><big>Per Visualizzare Tutti i Preventivi ricevuti vai alla pagina $linkPaginaListaPreventiviCliente, dalla medesima pagina puoi decidere di non ricevere più preventivi spuntando la apposita casella.</big></p>
	
	<p><big>Oppure Ricercare altri Transfer alla pagina $linkPaginaRicerca</big></p>
	
	
	$INCLUDE_FOOTER_EMAIL

</body>
</html>
