<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Tariffe $webAppName</title>
	<meta http-equiv=3D"Content-Type" content=3D"text/html; charset=3Dutf-8" />
</head>


<body style="padding: 0;background-color: #FFF;font-family: arial;margin: 0!important;">
    <div class="wrapper" style="width: 100%;table-layout: fixed;">
        <div class="wrapper-inner" style="width: 100%;background-color: #121212;max-width: 670px;margin: 0 auto;">
            <table class="main-table-first" style="border-spacing: 0;font-family: sans-serif;color: #727f80;width: 100%;max-width: 610px;margin: 0 auto;background-color: #FFF;border-radius: 6px;margin-top: 25px;">
                <tr>
                    <td class="two-column" style="padding: 5px 0 10px 0;background-color: #121212;color: azure;text-align: center;font-size: 0;">
                        <div class="section" style="width: 100%;max-width: 300px;display: inline-block;vertical-align: top;">
                            <table width="100%" style="border-spacing: 0;font-family: sans-serif;color: #727f80;">
                                <tr>
                                    <td class="inner-td" style="padding: 10px;background-color: #121212;color: azure;">
                                        <table class="content" style="border-spacing: 0;font-family: sans-serif;color: #727f80;width: 100%;padding-top: 20px;font-size: 16px;line-height: 20px;text-align: justify;">
                                            <tr>
                                                <td align="center" style="padding: 0;background-color: #121212;color: azure;">
                                                    <img src="https://www.apollotransfert.com/nuova_grafica/images/email_images/logo.png" class="logo" style="border: 0;float: left;margin-left: 5%;width: 100%;max-width: 200px!important;height: auto;">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div> <!--- End First Column of Two Columns -->
                        
                        <!--
                        <div class="section" style="width: 100%;max-width: 300px;display: inline-block;vertical-align: top;">
                            <table width="100%" style="border-spacing: 0;font-family: sans-serif;color: #727f80;">
                                <tr>
                                    <td class="inner-td" style="padding: 10px;background-color: #121212;color: azure;">
                                        <table class="content" style="border-spacing: 0;font-family: sans-serif;color: #727f80;width: 100%;padding-top: 20px;font-size: 16px;line-height: 20px;text-align: justify;">
                                            <tr>
                                                <td style="padding: 0;background-color: #121212;color: azure;">
                                                    <div id="callout" style="float: right;margin: 4% 5% 2% 0;height: auto;overflow: hidden;">
                                                        <ul class="social" style="list-style-type: none;margin-top: 1%;padding: 0;">
                                                            <li style="display: inline-block;"><p style="margin: 0;"><b style="color: #1B6EB1">Matteo Manili</b></p></li>
                                                            <li style="display: inline-block;"><a href="mailto:matteo.manili@gmail.com" style="color: #1B6EB1;text-decoration: none;">&lt;matteo.manili@gmail.com&gt;</a></li>

                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div> 
                        -->
                        <!--- End Second Column of Two Columns -->
                    </td>
                </tr> <!--- End Two Column Section -->
                <tr>
                    <td style="padding: 0;background-color: #121212;color: azure;">
                        <hr style="border-color: #1B6EB1">
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0;background-color: #121212;color: azure;">
                        <p class="h1" style="margin: 12px 0 20px 0;font-weight: 600;line-height: 45px;text-align: center!important;font-size: 25px!important;">Gentile $nomeCognome</p>
                    </td>
                </tr>
            </table>
            
            <table class="outer-table" style="border-spacing: 0;font-family: sans-serif;color: #727f80;width: 100%;max-width: 670px;margin: 0 auto;background-color: #FFF;">
                <tr>
				    <td class="image" style="padding: 0;background-color: #121212;color: azure;">
					   <a href="https://www.apollotransfert.com/" style="color: #1B6EB1;text-decoration: none;">
                           <div style="position: relative; text-align: center; color: white">
                               <img class="image" style="opacity: 0.9;border: 0;width: 100%;max-width: 670px;height: auto;color: black;" src="https://www.apollotransfert.com/nuova_grafica/images/email_images/banner.jpg">
                            </div>
                        </a>
				    </td>
                </tr> <!--- End Banner -->
            </table> <!--- End Outer Table -->
            
            <table class="main-table" style="border-spacing: 0;font-family: sans-serif;color: #727f80;width: 100%;max-width: 610px;margin: 0 auto;background-color: #FFF;border-radius: 6px;">
                <tr>
                    <td class="two-column" style="padding: 5px 0 10px 0;background-color: #121212;color: azure;text-align: center;font-size: 0;">
                        <div class="section" style="width: 100%;max-width: 300px;display: inline-block;vertical-align: top;">
                            <table width="100%" style="border-spacing: 0;font-family: sans-serif;color: #727f80;">
                                <tr>
                                    <td class="inner-td" style="padding: 10px;background-color: #121212;color: azure;">
                                        <table class="content" style="border-spacing: 0;font-family: sans-serif;color: #727f80;width: 100%;padding-top: 20px;font-size: 16px;line-height: 20px;text-align: justify;">
                                            <tr>
                                                <td class="text" style="padding: 10px 0;background-color: #121212;color: azure;">
                                                    
                                                    <!--
                                                    <p style="margin: 0;"><b style="color: #1B6EB1">PREZZO:</b> 123.37&euro; (inclusa Maggiorazione Notturna di 25.00&euro;)</p>
                                                    <p style="margin: 0;"><b style="color: #1B6EB1">NUMERO PASSEGGERI: </b> 4</p>
                                                    <p style="margin: 0;"><b style="color: #1B6EB1">CATEGORIA AUTO: </b> Van Prima Classe</p>
                                                    <p style="margin: 0;"><b style="color: #1B6EB1">INFO CATEGORIA AUTO: </b> Van Prima Classe e&#768; un autoveicolo 7-8 Passeggeri Mercedes immatricolato tra il 2011 e il 2018.</p>
                                					-->
                                					<p style="margin: 0;"><b style="color: #1B6EB1">ApolloTransfert</b> è un Portale Web di vendita online di 
                                						<b style="color: #1B6EB1">Servizi Transfer NCC</b>.</p>
                                					<p style="margin: 0;">Eseguiamo trasporti in <b style="color: #1B6EB1">Auto e Van</b> a Passeggeri, Turisti e Professionisti in gran parte delle province italiane.</p>
                                					
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div> <!--- End First Column of Two Columns -->
				        <div class="section" style="width: 100%;max-width: 300px;display: inline-block;vertical-align: top;">
                            <table width="100%" style="border-spacing: 0;font-family: sans-serif;color: #727f80;">
                                <tr>
                                    <td class="inner-td" style="padding: 10px;background-color: #121212;color: azure;">
                                        <table class="content" style="border-spacing: 0;font-family: sans-serif;color: #727f80;width: 100%;padding-top: 20px;font-size: 16px;line-height: 20px;text-align: justify;">
                                            <tr>
                                                <td class="text" style="padding: 10px 0;background-color: #121212;color: azure;">
                                                    <!--
                                                    <p style="margin: 0;"><b style="color: #1B6EB1">ANDATA: </b> Piazza del Popolo, 04100, Latina &#8680; Via Aldo Moro, 03100, Frosinone</p>
                                                    <p style="margin: 0;"><b style="color: #1B6EB1">Giorno Ora prelevamento: </b> lunedi&#768; 31/12/2018 22:00</p>
                                                    <p style="margin: 0;"><b style="color: #1B6EB1">Durata transfer prevista: </b> 53 min</p>
                                                    <p style="margin: 0;"><b style="color: #1B6EB1">Distanza: </b> 54.3 km</p>
                                                	-->
                                                	<p style="margin: 0;">
                                                	Disponiamo della Collaborazione di <b style="color: #1B6EB1">$totaleAutisti Autisti</b> in possesso di <b style="color: #1B6EB1">Certificato di Abilitazione Professionale</b>, <b style="color: #1B6EB1">Iscrizione all'Albo del Ruolo dei Conducenti</b> e <b style="color: #1B6EB1">Licenza Comunale NCC</b>.</p>
                                                
                                                
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
				        </div> <!--- End Second Column of Two Columns -->
                    </td>
                </tr> <!--- End Two Column Section -->
            </table> <!--- End Main Table -->
           
            
                                            
                                            <div class="discount" style="font-family: 'Roboto Slab', serif;width: auto;height: auto;border: 5px solid #1B6EB1;background-color: #121212;color: white;">    
                                                <p align="center" class="text6" style="margin: 0;font-size: 150%;padding: 10px;">!!! OFFERTA <span style="color: #1B6EB1">NUOVI CLIENTI !!!</span></p>

                                                <table align="center" style="border-spacing: 0;font-family: sans-serif;color: #727f80;">
                                                    <tr>
                                                        <td align="right" style="padding: 0;background-color: #121212;color: azure;">
                                                            <p style="margin: 0;"><span class="text1" style="font-size: 150%;margin-bottom: 0px;padding-bottom: 0px;">SCONTO 5%</span><br><span class="text2" style="font-size: 300%;margin-top: 0px;padding-top: 0px;color: #1B6EB1;">&#10233;</span></p>
                                                        </td>
                                                        <td style="padding: 0;background-color: #121212;color: azure;">
                                                            <div class="inner-discount" style="font-family: 'Roboto Slab', serif;margin: 10px;padding: 10px;border: 5px solid #1B6EB1;">
                                                            <p class="text4" align="center" style="margin: 0;font-size: 150%;color: white;">$codiceSconto</p>
                                                            </div>
                                                        </td>
                                                         <td style="padding: 0;background-color: #121212;color: azure;">
                                                             <p style="margin: 0;"><span class="text1" style="font-size: 150%;margin-bottom: 0px;padding-bottom: 0px;">SCONTO 5%</span><br><span class="text2" style="font-size: 300%;margin-top: 0px;padding-top: 0px;color: #1B6EB1;">&#10232;</span></p> 
                                                        </td>
                                                    </tr>
                                                </table>
                                                <p align="center" class="text6" style="margin: 0;font-size: 150%;padding: 10px;">IL CODICE SCONTO E' VALIDO PER L'ACQUISTO DI UN SOLO TRANSFER 
                                                <span style="color: #1B6EB1"><b>DA UTILIZZARE ENTRO IL 2020 SUL NOSTRO PORTALE <a href="https://www.apollotransfert.com">WWW.APOLLOTRANSFERT.COM</a></b></span></p>
                                            </div> 
                                        
                                     <!--- End Outer Table -->
            
            <table class="main-table" style="border-spacing: 0;font-family: sans-serif;color: #727f80;width: 100%;max-width: 610px;margin: 0 auto;background-color: #FFF;border-radius: 6px;">
                <tr>
                    <td class="two-column" style="padding: 5px 0 10px 0;background-color: #121212;color: azure;text-align: center;font-size: 0;">
                        <div class="section" style="width: 100%;max-width: 300px;display: inline-block;vertical-align: top;">
                            <table width="100%" style="border-spacing: 0;font-family: sans-serif;color: #727f80;">
                                <tr>
                                    <td class="inner-td" style="padding: 10px;background-color: #121212;color: azure;">
                                        <table class="content" style="border-spacing: 0;font-family: sans-serif;color: #727f80;width: 100%;padding-top: 20px;font-size: 16px;line-height: 20px;text-align: justify;">
                                            <tr>
                                                <td class="text" style="padding: 10px 0;background-color: #121212;color: azure;">
                                                    <div class="box-boder" style="border: 4px solid #1B6EB1;padding-right: 4px;padding-top: 5px;">
                                                        <p class="h3" style="margin: 0;text-align: center;font-size: 21px;font-weight: 600;margin-bottom: 8px;">RICERCA TRANSFER</p>
                                                        
                                                    </div>
                                                    <div class="box-boder" style="border-top: 0;border: 4px solid #1B6EB1;padding-right: 4px;padding-top: 5px;">
                                                        <p>Puoi preventivare autonomamente il prezzo di uno specifico transfer e acquistarlo con carta di debito/credito o 
                                                        	con paypal al sito <a href="https://www.apollotransfert.com">www.apollotransfert.com</a>.</p> 
                                                        <p>Un nostro Autista prenderà in carico il tuo servizio in tempo reale.</p> 
                                                        
                                                    </div> 
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div> <!--- End First Column of Two Columns -->
                        <!--[if (gte mso 9)|(IE)]>
                        </td><td width="50%" valign="top">
                        <![endif]-->
                        <div class="section" style="width: 100%;max-width: 300px;display: inline-block;vertical-align: top;">
                            <table width="100%" style="border-spacing: 0;font-family: sans-serif;color: #727f80;">
                                <tr>
                                    <td class="inner-td" style="padding: 10px;background-color: #121212;color: azure;">
                                        <table class="content" style="border-spacing: 0;font-family: sans-serif;color: #727f80;width: 100%;padding-top: 20px;font-size: 16px;line-height: 20px;text-align: justify;">
                                            <tr>
                                                <td class="text" style="padding: 10px 0;background-color: #121212;color: azure;">
                                                    <div class="box-boder" style="border: 4px solid #1B6EB1;padding-right: 4px;padding-top: 5px;">
                                                        <p class="h3" style="margin: 0;text-align: center;font-size: 21px;font-weight: 600;margin-bottom: 8px;">Esempi Transfer da $ricercaTransfert.transferTariffe.titolo</p>
                                                    </div>
                                                    <div class="box-boder" style="border-top: 0;border: 4px solid #1B6EB1;padding-right: 4px;padding-top: 5px;">
                                                        <p class="" style="margin: 0;text-align: left;font-size: 16px;font-weight: 600;margin-bottom: 8px;">
                                                        	Tariffe Transfer da $ricercaTransfert.transferTariffe.titolo alle Citt&agrave; nelle vicinanze</p>
                                                        <ul>
														#foreach($varObj in $ricercaTransfert.transferTariffe.destPorivinceConfinanti)
															<li>
															<a href="https://www.apollotransfert.com/$ricercaTransfert.transferTariffe.url">
																Partenza da $ricercaTransfert.transferTariffe.titolo arrivo a $varObj.provincia.nomeProvincia
																da $currency.format($varObj.prezzoCorsa)&euro;</a>
															</li>
														#end
														</ul>    
	                                                    #if ($ricercaTransfert.transferTariffe.destAeroportiConfinanti)
															<!-- aeroporti -->
															<p class="" style="margin: 0;text-align: left;font-size: 16px;font-weight: 600;margin-bottom: 8px;">
																Tariffe Transfer da $ricercaTransfert.transferTariffe.titolo agli Aeroporti nelle vicinanze</p>
															<ul>
															#foreach($varObj in $ricercaTransfert.transferTariffe.destAeroportiConfinanti)
																<li>
																<a href="https://www.apollotransfert.com/$ricercaTransfert.transferTariffe.url">
																	Partenza da $ricercaTransfert.transferTariffe.titolo arrivo a $varObj.aeroporto.nomeAeroporto ($varObj.aeroporto.siglaAeroporto)
																	da $currency.format($varObj.prezzoCorsa)&euro;</a>
																</li>
															#end
															</ul>
														#end
                                                    
                                                    </div>    
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div> <!--- End Second Column of Two Columns -->
                    </td>
                </tr> <!--- End Two Column Section -->
            </table> <!--- End Main Table -->
            <table class="main-table" style="border-spacing: 0;font-family: sans-serif;color: #727f80;width: 100%;max-width: 610px;margin: 0 auto;background-color: #FFF;border-radius: 6px;">
                <tr>
                    <td class="one-column" style="padding: 0;background-color: #121212;color: azure;">
                        <table width="100%" style="border-spacing: 0;font-family: sans-serif;color: #727f80;">
                            <tr>
                                <td class="inner-td" style="padding: 10px;background-color: #121212;color: azure;font-size: 16px;line-height: 20px;text-align: justify;">
                                    <table class="content" style="border-spacing: 0;font-family: sans-serif;color: #727f80;width: 100%;padding-top: 20px;">
                                        <tr>
                                            <td class="text" style="padding: 0;background-color: #121212;color: azure;">
                                                <div>    
                                                    <p style="margin-bottom: 1px;margin: 0;">Matteo Manili</p>
                                                    <p style="margin-top: 1px;margin-bottom: 1px;margin: 0;">Responsabile | ApolloTransfert</p>
                                                    <p style="margin-top: 2px;margin-bottom: 1px;margin: 0;"><a href="tel:3289126869" style="color: #1B6EB1; text-decoration: none ">T.328.912.6869</a></p>
                                                    <p style="margin-top: 1px;margin-bottom: 20px;margin: 0;"><a href="https://www.apollotransfert.com/" style="color: #1B6EB1; text-decoration: none ">www.apollotransfert.com</a></p>
                                                </div>
                                            </td>
                                        </tr>    
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table class="outer-table-3" style="border-spacing: 0;font-family: sans-serif;color: #727f80;width: 100%;max-width: 670px;margin: 22px auto;background-color: #C2C1C1;border-top: 3px solid #81B9C3;">
                <tr>
                    <td class="one-column" style="padding: 0;background-color: #121212;color: azure;">
                        <table width="100%" style="border-spacing: 0;font-family: sans-serif;color: #727f80;">
                            <tr>
                                <td class="footer" style="padding: 0;background-color: #C2C1C1;color: #FFF;width: 100%;margin: 0 auto;">
                                    <p class="footer" style="margin: 0 auto;width: 100%;background-color: #C2C1C1;color: black!important;text-align: center;line-height: 30px;padding-bottom: 4%;">
										
										Per non riceve pi&ugrave; email fai click qui: $linkUnsubscribe
	                                   	<!--	
	                                    Sent by <a href="https://www.apollotransfert.com/" style="color: #1B6EB1;text-decoration: none;">Medium</a> 799 Market Street, 5th floor, San Francisco, CA 94103
	                                    <br>
	                                    <a href="https://www.apollotransfert.com/" style="color: #1B6EB1;text-decoration: none;">Unsubcribe</a>&middot;
	                                    <a href="https://www.apollotransfert.com/" style="color: #1B6EB1;text-decoration: none;">Switch to the Weekly Digest</a>&middot;
	                                    <a href="https://www.apollotransfert.com/" style="color: #1B6EB1;text-decoration: none;">Careers</a>&middot;
	                                    <a href="https://www.apollotransfert.com/" style="color: #1B6EB1;text-decoration: none;">Help center</a>&middot;
	                                    <a href="https://www.apollotransfert.com/" style="color: #1B6EB1;text-decoration: none;">Privacy policy</a>
                                    	-->
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table> <!--- End Main Table -->    
        </div>
    </div>
    
</body>


</html>
